.social-icon {
  padding: var(--spacer);
  &:hover,
  &:focus {
    color: var(--link-hover-color);
    background-color: transparent;
  }
}

ul.social {
  list-style:none;
  text-align: center;
  margin-top: var(--spacer-2);
  font-size: 175%;
  white-space: normal;
  line-height: .5;
}

.social li {
  float:left;
}
